{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static '/css/reglog.css' %}">

    <title>Регистрация и Вход Гарант-Логистика</title>
</head>

<body>
<div class="container-reg-log">
    <div class="forms-container">
        <div class="signin-signup">
            <form action="{% url 'login' %}" method="POST" class="sign-in-form">
                {% csrf_token %}
                <h2 class="title">Вход</h2>
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input type="text" name="email" placeholder="Введите email"/>
                </div>
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input type="password" name="password" placeholder="Пароль"/>
                </div>
                <div>
                    <i></i>
                    <label>
                        <input type="checkbox" name="remember" checked/> Запомнить меня
                    </label>
                </div>
                <input type="submit" value="Вход" class="btn solid"/>
                <p class="social-text">Или войдите с помощью сервисов</p>
                <div class="social-media">
                    <a href="#" class="social-icon">
                        <i class="fa fa-vk" aria-hidden="true"></i>
                    </a>
                    <a href="#" class="social-icon">
                        <i class="fab fa-google"></i>
                    </a>
                </div>
            </form>
            <form action="{% url 'register' %}" method="post" class="sign-up-form">
                {% csrf_token %}
                <h2 class="title">Регистрация</h2>
                <div class="input-field">
                    <i class="fas fa-envelope"></i>
                    <input type="email" name="email" placeholder="Email" name="email" value="{{data.email}}"/>
                </div>
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input type="password" name="password" value="{{data.password}}" placeholder="Пароль"/>
                </div>
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input type="password" name="password2" value="{{data.password2}}" placeholder="Подтвердите пароль"/>
                </div>
                <input type="submit" class="btn" value="Регистрация"/>
                <p class="social-text">Или войдите с помощью сервисов</p>
                <div class="social-media">
                    <a href="#" class="social-icon">
                        <i class="fa fa-vk" aria-hidden="true"></i>
                    </a>
                    <a href="#" class="social-icon">
                        <i class="fab fa-google"></i>
                    </a>
                </div>
            </form>
        </div>
    </div>

    <div class="panels-container">
        <div class="panel left-panel">
            <div class="content">
                <h3>Впервые здесь?</h3>
                <p>
                    Зарегистрируйтесь, чтбы получить доступ ко всем нашим сервисам!
                </p>
                <button class="btn transparent" id="sign-up-btn">
                    Регистрация
                </button>
            </div>
            <!--<img src="img/logo_small.jpg" class="image" alt="" />-->
        </div>
        <div class="panel right-panel">
            <div class="content">
                <h3>Уже регистрировались?</h3>
                <p>
                    Войдите в личный кабинет!
                </p>
                <button class="btn transparent" id="sign-in-btn">
                    Вход
                </button>
            </div>
            <!--<img src="img/register.svg" class="image" alt="" />-->
        </div>
    </div>

</div>
</body>

<script>

const sign_in_btn = document.querySelector("#sign-in-btn");
const sign_up_btn = document.querySelector("#sign-up-btn");
const back_to_main_btn = document.querySelector("#back-to-main-btn")
const container = document.querySelector(".container-reg-log");

sign_up_btn.addEventListener("click", () => {
    container.classList.add("sign-up-mode");
});

sign_in_btn.addEventListener("click", () => {
    container.classList.remove("sign-up-mode");
});

</script>
</html>