@font-face {
    font-family: Gotham ProMedium;
    src: url("/static/fonts/ofont.ru_Gotham Pro (1).ttf");
    font-family: Gotham ProRegular;
    src: url("/static/fonts/ofont.ru_Gotham Pro (2).ttf");
    font-family: Gotham ProBold;
    src: url("/static/fonts/ofont.ru_Gotham\ Pro.ttf")
}

header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

header .back {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .container {
    position: relative;
    z-index: 2;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
    header {
        background: url('https://source.unsplash.com/M3RVFbqKGu4') black no-repeat center center scroll;
    }
    header video {
        display: none;
    }
}

.video-background-holder {
    position: relative;
    background-color: black;
    height: calc(100vh - 72px);
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

.title {
    font-family: Gotham ProBold;
    font-style: normal;
    font-size: 36px;
    line-height: 77px;
}

.text1 {
    font-family: Gotham ProBold;
    font-style: normal;
    font-size: 22px;
    line-height: 26px;
    margin-top: 10px
}

.calc {
    margin-top: 20px
}

.subtitle {
    font-family:  Gotham ProBold;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    color: #007041;
}

.text2 {
    font-family: Gotham ProBold;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
}

.text3 {
    font-family: Gotham Gotham ProRegular;
    font-style: normal;
    font-size: 18px;
    line-height: 27px;
}

.text4 {
    font-family: Gotham Gotham ProRegular;
    font-style: normal;
    font-size: 16px;
    line-height: 27px;
}