<div class="modal fade" id="exampleModal-2" tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Экспресс доставка</h4>
            </div>
            <div class="modal-body">
                <div>

<div>
 Если для вас ключевым фактором является срок перевозки груза, то 
 рекомендуем воспользоваться услугой экспресс доставка.
</div>

<h5 style="margin-top: .5rem">Преимущества услуги</h5>

<div>
    Гарантированные сроки перевозки (по основным направлениям 
    средний срок составляет 1 рабочий день);
    Фиксированные дата и время прибытия груза на терминал;
    Доставка до адреса получателя в день прибытия груза на терминал;
</div>

<div>
Груз можно сдать на терминале или заказать услугу забор груза с вашего адреса. 
Так же необходимо подготовить документы для перевозки.
Рассчитать стоимость перевозки можно с помощью калькулятора или 
позвонить по телефону +7 (812) 309-47-57.
</div>


                </div>
            </div>
        </div>
    </div>
</div>