<div class="modal fade" id="exampleModal-1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Доставка документов (конверт)</h4>
            </div>
            <div class="modal-body">
                <div>

<div>
  Отправка автотранспортом документов с их последующей передачей получателю. 
  Отправка осуществляется в фирменном конверте.
</div>
<div>
  Услуга включает в себя забор от адреса отправителя до адреса получателя 
  между всеми городами, в которых есть терминалы компании. 
  В рамках услуги доставка от адреса и до адреса возможна только в черте города, 
  доставка в другие населенные пункты не производится.
</div>
<div>
Стоимость услуги составляет 450 рублей за комплект между всеми городами, 
кроме: Санкт- Петербург – Сортавала, 
Санкт- Петербург –  Великие Луки и 
Санкт- Петербург – Боровичи. 
Стоимость услуги конверт между данными направлениями составляет 650 рублей за комплект.
</div>

<h5 style="margin-top: .5rem">Ограничения по габаритам</h5>

<div>
Ограничения по габаритам связаны с размерами конверта:
</div>

<div>
Длина - 31 см
Ширина - 25 см
Высота - 3 см
Вес - 2 кг
</div>

<div>
Для расчета сроков и стоимости перевозки воспользуйтесь формами калькулятор и 
оформить заказ или позвоните телефону +7 (812) 309-47-57.
</div>

<h5 style="margin-top: .5rem">Способы оплаты</h5>

<div>
Выберите любой удобный для вас способ оплаты: безналичный расчет, 
наличные или оплата картой. Оплатить перевозку может отправитель, получатель или третье лицо.
</div>

<h5 style="margin-top: .5rem">Отслеживание груза</h5>

<div>
Местонахождение груза можно уточнить по телефону +7 (812) 309-47-57.
</div>

<h5 style="margin-top: .5rem">Правила оказания услуги «Возврат документов»:</h5>

<div>
Компания «Гарант-Логистика» не несет ответственности за правильность оформления 
документов, как клиентом-отправителем, так и клиентом-получателем, 
а так же за своевременное подписание и возврат документов получателем.
</div>

                </div>
            </div>
        </div>
    </div>
</div>