{% extends "shared/base.html" %} 
{% load static %}


{% block base_content %}
<style>

    div {
        text-indent: 20px;
        font-size: 20px
    }

    h2 {
        text-align: center
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 >Транспортная компания Гарант-Логистика</h2>
            <div align="justify">
                Транспортная компания «Гарант-Логистика» осуществляет грузоперевозки по России.
                Основными нашими направлениями являются Ленинградская, Новгородская, 
                Псковская области и Республика Карелия.
            </div>
            <div align="justify">
                Благодаря своей сети подразделений и собственному современному автопарку 
                «Гарант-Логистика» обеспечивает оперативную и надежную перевозку грузов. 
                Наша компания предоставляет полный комплекс транспортно-логистических услуг, 
                по конкурентным тарифам и с оптимальными сроками доставки: <br>
                -Перевозка сборного груза автомобильным транспортом, 
                    доставка посылок малотоннажными автомобилями. <br>
                -Срочная перевозка – экспресс-доставка. <br>
                -Конверт – отправка документов. <br>
            </div>
            <div align="justify">
                Ключевое направление деятельности компании «Гарант-Логистика» — 
                перевозка сборных грузов. Это позволяет оптимизировать расходы на логистику 
                и доставить груз с минимальными затратами для клиентов.
                Мы оказываем дополнительные услуги по забору груза с адреса, 
                доставке и возврату документов, упаковке груза, а так же по доставке 
                наложенным платежом и страхованию.
                Плюсы нашей компании – четкая организация процесса транспортировки грузов, 
                широкие возможности за счет наличия современного и разнообразного транспорта, 
                гарантии безопасности, доступные цены и оптимальные сроки доставки.
                Качество услуг и уровень клиентского сервиса имеет важное значение для нас, 
                ведь наша цель – долгосрочные отношения с нашими 
                настоящими и будущими клиентами.<br>
                <b>Будем рады встрече с вами!</b>
            </div>
        </div>
    </div>
</div>
{% endblock%}