{% extends 'shared/base.html' %} 


{% block base_content %}  
<h4 class="mb-4 text-center text-uppercase subtitle" style="margin-top: 55px;">Прайс</h4>
<div class="container">
    <div class="mb-5">
        <ul class="list-group ">
            <li class="list-group-item"><a href="/static/t_lo.pdf" target="_blank" style="color: #007041;">Направление Ленинградская область</a></li>
            <li class="list-group-item"><a href="/static/t_petr.pdf"  target="_blank" style="color: #007041;">Направление Петрозаводск</a></li>
            <li class="list-group-item"><a href="/static/t_pskov_nov.pdf"  target="_blank" style="color: #007041;">Направление Псков, Великий Новгород</a> </li>
        </ul>
    </div>
</div>


{% endblock %}